* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    background-color: #000000;
    color: #f0f8ff;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-height: 100vh;
    height: 100%;
}

#right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

#weather-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#weather-card {
    background-color: #14203a;
    border-radius: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#main-place {
    background-color: #4e39c6;
    border-radius: 12px;
    padding: 4px 10px;
}

#main-temperature {
    font-size: 30px;
}

#fc {
    background-color: #000000;
    color: #ffffff;
    border-radius: 12px;
    display: inline-flex;
    justify-content: space-between;
    width: 48px;
    place-self: end;
}

.btn {
    border: none;
    cursor: pointer;
}

.fahrenheit {
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    padding: 4px 8px;
}

.celsius {
    background-color: #ffffff;
    color: #000000;
    border-radius: 50%;
    padding: 4px 8px;
}

.deselect-temp-scale {
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    padding: 4px 8px;
}

.select-temp-scale {
    background-color: #ffffff;
    color: #000000;
    border-radius: 50%;
    padding: 4px 8px;
}

#weather-condition {
    font-size: 30px;
}

#weather-condition-content {
    font-size: 12px;
}

#all-cities-container {
    margin-top: 40px;
}

#all-cities-heading {
    padding-bottom: 10px;
}

.cloud-img {
    width: 50px;
}

.o-city-card {
    background-color: #14203a;
    border-radius: 5px;
    padding: 20px;
}

.o-city-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-city-left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

#main-city-right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hidden {
    display: none;
}

#city-temperature-container {
    display: flex;
    gap: 2px;
    font-size: 34px;
}

#weather-condition-content {
    display: flex;
    gap: 4px;
}

#high-container {
    display: flex;
}

#low-container {
    display: flex;
}

#high-low-container {
    display: flex;
    gap: 10px;
}

#search-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 260px;
    gap: 5px;
}

#search {
    padding: 7px 8px 7px 28px;
    width: 89%;
    position: absolute;
    background-color: #14203a;
    color: #ffffff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
}

#search-btn {
    background-color: #483ac7;
    color: #ffffff;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 4px 6px;
    height: 30px;
}

.all-cities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.highlights {
    margin-bottom: 10px;
    background-color: #14203a;
    border-radius: 10px;
    padding: 10px;
    height: 230px;
}

.highlights-heading {
    padding: 20px 0;
}

.o-city-temperature {
    display: flex;
    font-size: 20px;
}

.humidity-container {
   background-color: #0e1422;
    border-radius: 10px;
    padding: 10px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.humidity-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.humidity-temp {
    display: flex;
    font-size: 24px;
}

.humidity-img {
    width: 50px;
}

#search-city {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    justify-content: space-between;
}

.now-text {
    font-size: 12px;
}

#error-message {
    color: #f40909;
    font-size: 12px;
}

.search-input {
    position: relative;
}

.magnifying-glass-icon {
    position: absolute;
    width: 15px;
    z-index: 10;
    top: 7px;
    left: 7px;
}

.magnifying-glass-icon img {
    width: 15px;
}

@media screen and (min-width: 390px) and (max-width: 699px) {
    #container {
        flex-direction: column;
    }

    #right-container {
        justify-content: normal;
        gap: 50px;
    }

    #search-container {
        margin-top: 50px;
    }

    #search {
        width: 270px;
    }

}

@media screen and (min-width: 730px) {
    #container {
        flex-direction: row;
    }

    #right-container {
        justify-content: space-between;
        min-height: 550px;
        height: 100%;
    }

    #search-container {
        margin-top: 20px;
    }

} 

@media screen and (min-width: 1370px) {
    #container {
        flex-direction: row;
        gap: 50px;
    }

    #weather-card {
        width: 500px;
        height: 250px;
    }

     #right-container {
        min-height: 640px;
        height: 100%;
    }

    #search-container {
        width: 350px;
    }

}
